@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Latoblack ;
        src: url(/src/assets/font/Lato-Black.ttf);
    }
    @font-face {
        font-family: Latoreglr ;
        src: url(/src/assets/font/Lato-Regular.ttf);
    }
    @font-face {
        font-family: Latobold;
        src: url(/src/assets/font/Lato-Bold.ttf);
    }
}